<div id="particles-js">
  <div class="content">
      <h1>
        <img src="/assets/img/profile.png" style="max-height: 145px; max-width: 145px;" />
        <span class="site-title">{{site.user_title}}</span>
        <span class="site-description">{{site.description}}</span>
      </h1>
      <div class="icons-header">
         <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Youtube Channel" target="_blank" href="https://www.youtube.com/channel/{{site.youtube_channel}}"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
      </div>
		<a class="link" href="#about" data-scroll>ABOUT ME</a>
		<a class="link" href="#projects" data-scroll>PROJECTS</a>
  </div>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
