<div class="container">
  <div class="user-details">
    <h3> Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
	  <i class="fa fa-code fa-4x" aria-hidden="true"></i>
      <h4>Secure-HAProxy</h4>
      <p>A more secure configuration for HAProxy when setting up your Octoprint instance on a Raspberry Pi.</p>
		<div class="project-link">
			<a href="https://github.com/mastertork/Secure-HAProxy"><i class="icon fa fa-github" aria-hidden="true"></i></a>
			<a href="#"><i class="icon fa fa-book" aria-hidden="true"></i></a>
			<a href="#"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
			```
			Does this work?
			```
		</div>
	<hr color="#141414" noshade></hr>
    </div>
    <div class="six columns">
      <i class="fa fa-wifi fa-4x" aria-hidden="true"></i>
	  <h4>Trap-Cam</h4>
      <p>An "off grid" IP camera setup ran entirely on battery power with it's own WiFi LAN.</p>
	  	<div class="project-link">
			<a href="https://github.com/mastertork/Trap-Cam"><i class="icon fa fa-github" aria-hidden="true"></i></a>
			<a href="#"><i class="icon fa fa-book" aria-hidden="true"></i></a>
			<a href="#"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
		</div>
	<hr color="#141414" noshade></hr>
    </div>
    </div>
  </div>
</div>