<div class="container">
  <div class="user-details">
    <h3> Projects </h3>
  </div>
  <div class="row user">
    <div class="six columns">
	  <i class="fa fa-code" aria-hidden="true"></i>
      <h4>Secure-HAProxy</h4></a>
      <p>A more secure configuration for HAProxy when setting up your Octoprint instance on a Raspberry Pi.</p>
		<a class="project-link" href="https://github.com/mastertork/Secure-HAProxy">
		<i class="fa fa-github fa-fw" aria-hidden="true" max-height: "10px"></i></a>
    </div>
    <div class="six columns">
      <i class="fa fa-wifi" aria-hidden="true"></i>
	  <h4>Trap-Cam</h4>
      <p>An "off grid" IP camera setup ran entirely on battery power with it's own WiFi LAN.</p>
    </div>
    </div>
  </div>
</div>